.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  /* background-image:linear-gradient(163deg, #f3f3f3 0%, rgba(251, 247, 255, 0.8) 11.8%,  #f3f3f3 42.86%, #f3f3f3 57.14%, #E5E5E5 71.43%, #f3f3f3 100%) */
}

/* body {
  background: #f1f1f1;
} */
/* body {
  background-color: #f3f3f3 !important;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navTo nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.navTo ul {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

.navTo ul li {
  display: none;
  margin: 0 1rem;
  color: #fff;
}

/*  merge css */
/* card1 */

.description {
  padding-left: 15px;
  border-left: 2px solid #000;
  text-align: left;
}

.wrapper {
  margin: 10px 50px;
}

.breadcrumb-color {
  background-color: #333;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* card1 */
.card-custom {
  overflow: hidden;
  min-height: 120px;
  /* box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); */
  box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.3);
  margin: 3px;
}

.card-custom-img {
  height: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 45px;
  left: 1.25rem;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.card {
  min-height: 350px;
  max-height: 350px;
}

.text-muted i {
  margin: 0 10px;
}

.price {
  overflow: none !important;
  position: absolute;
  right: 0px;
  top: -10px;
  background: #ff4444;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: auto !important;
  height: 50px;
  padding: 15px 10px 0 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

.bon {
  position: absolute;
  left: 0px;
  top: -10px;
  background: #1884ff;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

.lang {
  position: absolute;
  left: 0px;
  top: -10px;
  background: #ffc300;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

.bon-lang {
  position: absolute;
  left: 0px;
  top: -10px;
  background: #ffc300;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: auto !important;
  height: 50px;
  padding: 15px 10px 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

/* .card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
} */

.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.btn-icon {
  display: inline-block;
  border: 0px;
  background-color: #fff;
  cursor: pointer;
}
.facebook-color {
  color: #4267b2;
}
.twitter-color {
  color: #1da1f2;
}
.google-color {
  color: #db4437;
}
.link-color {
  color: #41b64f;
}
.profile-card-1 .icon-block {
  float: left;
  width: 100%;
}
.profile-card-1 .icon-block a {
  text-decoration: none;
}
.btn-icon:hover {
  background-color: red;
  color: #2e3434;
  text-decoration: none;
}

.profile-card-1 i:hover {
  background-color: #e1e1e0;
  color: #2e3434;
  text-decoration: none;
}

.search {
  background-color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
}

/*  */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-display: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #222;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.pb-70 {
  padding-bottom: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.font__weight-thin {
  font-weight: 100;
}
.divider {
  width: 35px;
  height: 2px;
  background: #2775ff;
  margin: 25px auto 32px;
  border: 0;
}
.panel__head,
.panel__list {
  text-align: left;
}

.panel__wrapper-icon .panel__head {
  background: linear-gradient(to right, #2775ff, #7202bb);
  padding: 24px 40px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) .panel__wrapper-icon .panel__head {
  padding: 24px 50px;
}

@media (min-width: 992px) .panel__wrapper-icon .panel__head {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) .panel__wrapper-icon .panel__head p {
  margin-top: 0;
  margin-left: 58px;
}
.panel__wrapper-icon .panel__head p {
  flex: 1;
  margin-top: 20px;
}
.font__size-14 {
  font-size: 0.875rem;
}

.panel__head,
.panel__list {
  text-align: left;
}

.panel__wrapper-icon .panel__list {
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}
.panel__head,
.panel__list {
  text-align: left;
}
.panel__list {
  list-style: none;
  margin: 0;
}
.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

.panel__wrapper-icon .panel__list li .line {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 3px;
  height: 40px;
  background: linear-gradient(to bottom, #2775ff, #7202bb);
  opacity: 0;
  transition: all 0.3s ease;
}
.panel__wrapper-icon .panel__list li:hover {
  z-index: 2;
}
.panel__wrapper-icon .panel__list li:hover .line {
  opacity: 1;
  left: -15px;
  transition-delay: 0.1s;
}

.panel__wrapper-icon .panel__list li:nth-child(2n) {
  background: #f6f6f6;
}

@media screen and (min-width: 576px) .panel__wrapper-icon .panel__list li {
  padding-left: 110px;
}

.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
}
.panel__wrapper-icon .panel__list li:hover:after,
.panel__wrapper-table .panel__list li:hover:after {
  transform: scale(1);
  opacity: 1;
}

.panel__wrapper-gradient .panel__list li:after,
.panel__wrapper-icon .panel__list li:after,
.panel__wrapper-table .panel__list li:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -15px;
  right: -15px;
  bottom: -6px;
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.95);
  z-index: -1;
}
.font__family-open-sans {
  font-family: "Open Sans", sans-serif;
}

.panel__wrapper-icon .panel__head p {
  margin-top: 0;
  margin-left: 58px;
}

.panel__wrapper-icon .panel__head {
  display: flex;
  align-items: center;
}

.font__size-21 {
  font-size: 1.3125rem;
}

.font__family-montserrat {
  font-family: "Montserrat", sans-serif;
}

.panel__wrapper-icon .panel__list li .icon {
  font-size: 36px;
  color: #2775ff;
  opacity: 0.5;
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 20px;
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
  margin-left: 0 !important;
}
.icon {
  display: inline-block;
  text-align: center;
}
.fal,
.far {
  font-weight: 600 !important;
}
.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

.panel__wrapper-icon .panel__list li .icon {
  position: absolute;
  left: 40px;
  margin-bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.panel__wrapper-icon .panel__list li {
  padding-left: 110px;
}
.panel__wrapper-icon .panel__list li:hover .icon {
  opacity: 1;
}

/************************************/
.list-inline-4 li:hover > .after,
.list-inline-5 > li.list-counter:hover .list-shape,
.list-inline-5 > li.list-counter:hover > .after {
  opacity: 1;
}

.list-inline-4 li > .after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(to right, #2775ff, #7202bb);
  z-index: -1;
  transition: all 0.4s ease;
  opacity: 0;
}
.list-inline-4 li > .before {
  top: 50%;
  transform: translateY(-50%);
  left: 1.25em;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.list-inline-3 li > .after,
.list-inline-4 li > .before {
  position: absolute;
  transition: all 0.4s ease;
  background: #2775ff;
}
.list-inline-4 li {
  display: block;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 50px;
  padding: 0.875em 0.875em 0.875em 3.4375em;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}

.font__size-16 {
  font-size: 1rem;
}
.font__family-montserrat {
  font-family: "Montserrat", sans-serif;
}

.list-inline-4 li {
  display: block;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 50px;
  padding: 0.875em 0.875em 0.875em 3.4375em;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.list-inline-4 li + li {
  margin-top: 10px;
}
.list-inline-4 li:hover > .after,
.list-inline-5 > li.list-counter:hover .list-shape,
.list-inline-5 > li.list-counter:hover > .after {
  opacity: 1;
}
.list-inline-4 li .icon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}
.list-inline-4 li:hover > .before {
  background: 0 0;
  width: 14px;
  height: 14px;
}
.list-inline-4 li:hover {
  color: #fff;
  box-shadow: 0 5px 16px 0 rgba(165, 165, 165, 0.5);
}
.list-inline-3 li:hover,
.list-inline-3 li:hover a,
.list-inline-4 li:hover a,
.list-inline-5 > li.list-counter:hover,
.list-inline-5 > li.list-counter:hover a,
.list-inline-5 > li.list-counter:hover > .before,
.list-inline-6 li:hover:before {
  color: #fff;
}

.fa-angle-right:before {
  content: "\f105";
}

[class*="list-inline"] a {
  transition: none;
  text-decoration: none !important;
}
.letter-spacing-60 {
  letter-spacing: 0.06em;
}
.font__size-46 {
  font-size: 2.875rem;
}
.font__weight-thin {
  font-weight: 100;
}
.font__family-roboto {
  font-family: "Roboto", sans-serif;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.line__height-26 {
  line-height: 1.625rem;
}
.font__size-16 {
  font-size: 1rem;
}
.font__weight-normal {
  font-weight: 400;
}
.brk-dark-font-color {
  color: #585858;
}

.brk-dark-font-color {
  font-family: "Open Sans", sans-serif;
}

.pb-70 {
  padding-bottom: 70px !important;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/*******************************************/
.overflow-hid {
  overflow: hidden !important;
}
.bg__style {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.position-relative {
  position: relative !important;
}
.brk-abs-bg-overlay,
.brk-abs-img,
.brk-abs-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.opacity-90 {
  opacity: 0.9;
}
.brk-base-bg-gradient-50deg {
  background-image: linear-gradient(
    to right,
    #2775ff,
    #008dff,
    #00a2ff,
    #00b5ff,
    #00c6ff
  );
}

.info-box__wrapper-web {
  padding: 70px 20px;
}
.info-box__wrapper-web {
  text-align: left;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
[class*="info-box__wrapper"] {
  transition: all 0.4s ease;
}
.info-box__wrapper-strict,
.info-box__wrapper-web .shape {
  position: relative;
  z-index: 1;
}
.info-box__wrapper-web .shape:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.info-box__wrapper-web .livicon-evo,
.info-box__wrapper-web .shape:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape > .before {
  transform: scale(1.35);
}
.info-box__wrapper-web .svg-wrap {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top, var(--brk-base-6), var(--brk-base-2));
  transition: all 0.4s ease;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale(0);
}
.info-box__wrapper-web .svg-wrap svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
[class*="info-box__wrapper"] svg {
  transition: all 0.4s ease;
  width: 84px;
  height: 84px;
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape:after {
  content: "";
}
.info-box__wrapper-web .shape:after {
  position: absolute;
  bottom: calc(50% + 7px);
  left: calc(50% - 1px);
  width: 2px;
  height: 100vh;
  background: #fff;
}
.info-box__wrapper-web .content > * {
  color: #fff;
}
.info-box__wrapper-web .content p {
  color: #b3daee;
  margin-top: 15px;
}
.info-box__wrapper-web.current .shape > .before,
.info-box__wrapper-web:hover .shape > .before,
.wpb_column.current .info-box__wrapper-web .shape > .before {
  -webkit-animation: 1.5s brk-pulse 0.3s infinite;
  animation: 1.5s brk-pulse 0.3s infinite;
  opacity: 0.1;
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape > .before {
  transform: scale(1.35);
}
.info-box__wrapper-web.current .svg-wrap,
.info-box__wrapper-web:hover .svg-wrap {
  transform: scale(1);
}
.info-box__wrapper-web .svg-wrap {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top, #0b98f6, #00c6ff);
  transition: all 0.4s ease;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale(0);
}
.info-box__wrapper-shuffle.current svg *,
.info-box__wrapper-shuffle:hover svg *,
.info-box__wrapper-web svg *,
.wpb_column.current .info-box__wrapper-strict svg * {
  stroke: #fff;
}

.wpb_column.current .info-box__wrapper-web .svg-wrap {
  transform: scale(1);
}
.wpb_column.current .info-box__wrapper-web .shape > .before {
  animation: 1.5s brk-pulse 0.3s infinite;
  opacity: 0.1;
}
.wpb_column.current .info-box__wrapper-web .shape > .after {
  animation: brk-pulse 1.5s infinite;
  opacity: 0.2;
}
@-webkit-keyframes brk-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes brk-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes brk-pulse-paused {
  0%,
  to {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes brk-pulse-paused {
  0%,
  to {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
    opacity: 0;
  }
}

ol,
ul {
  padding-left: 0px !important;
}

.MuiTextField-root {
  width: 100%;
}

.icon-search {
  font-size: 20px;
  margin: 2px;
  margin-right: 7px;
}

#standard-basic {
  height: 8px;
}

.MuiListItem-root {
  /* width: 50px !important; */
  cursor: pointer;
}

.card-title {
  font-size: 14px;
  cursor: pointer;
}

.card-text {
  cursor: pointer;
}

.noData {
  border: 1px solid #bbb;
  background-color: #eaeaea;
  border-radius: 5px 5px;
  color: darkslategrey;
}

.MuiSvgIcon-root {
  cursor: pointer;
}


/* custom */
.ws{
  position: absolute;
  z-index: 10000;
  background-color: red;
}

.container-breadcrumb{
  padding-bottom: 10px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit !important;
  border-style: solid !important;
  border-width: thin !important;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.admin-item{
  background-color: gainsboro;
  margin: 1px;
}

.card-admin {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card-admin:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.css-1yo1jo6-MuiStack-root{
  margin-left: auto;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  /* background-color: #3f51b5; */
  /* background: linear-gradient(to left, #A6A0B7, #3f51b5); */
  /* background: linear-gradient(to right, #3188D5, #26a0da); */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='100' preserveAspectRatio='none' viewBox='0 0 1200 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1824%26quot%3b)' fill='none'%3e%3crect width='1200' height='100' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3ccircle r='1.085' cx='1184.4850000000001' cy='95.80499999999999' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.28' cx='306.39' cy='44.2' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='0.95' cx='325.7' cy='69.56' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.07' cx='861.38' cy='18.21' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='0.865' cx='1030.715' cy='63.925000000000004' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.225' cx='934.275' cy='56.985' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.22' cx='255.65' cy='89.53' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='0.84' cx='798.1800000000001' cy='4.8' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.635' cx='1076.925' cy='17.525000000000002' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.235' cx='374.08500000000004' cy='27.585' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='0.84' cx='784.6600000000001' cy='100.53' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.305' cx='245.535' cy='80.075' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.15' cx='825.25' cy='25.009999999999998' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.495' cx='634.535' cy='49.254999999999995' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='0.88' cx='53.730000000000004' cy='36.93' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.205' cx='242.115' cy='55.695' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.565' cx='647.6650000000001' cy='9.515' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.335' cx='812.735' cy='3.6149999999999998' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.51' cx='944.08' cy='33.68' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3ccircle r='1.405' cx='207.575' cy='29.635' filter='url(%23SvgjsFilter1825)' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/circle%3e%3cpath d='M206.3 31.7L212.3 37.4 207 39.2C206.4 39.4 206 40.1 206.1 40.9 206.5 41.6 207.2 42 207.8 41.9L214.9 39.6 220.5 45 206.1 49.4C205.2 49.7 204.7 50.5 205.1 51.1 205.2 51.9 205.9 52.4 206.8 52L222.7 47.2 227.9 51.9 224.3 67.8 218.4 69.7 205.6 57.5C205.3 57.4 205.1 57.4 204.8 57.3 204.5 57.3 204 57.4 203.6 57.6 203 58.3 203 59.1 203.8 59.5L215.4 70.7 208.1 72.8 202 67.3C202 67.1 201.8 67 201.5 67 201 66.8 200.4 67 200 67.5 199.7 67.9 199.7 68.8 200.1 69.4L205.2 73.8 196 76.7C195.4 76.8 195 77.5 195.1 78.4 195.5 79 196.2 79.4 196.8 79.3L205.3 76.6 204.1 82.1C203.9 82.8 204.6 83.5 205.1 83.6 205.9 83.8 206.8 83.5 207 82.7L208.6 75.7 215.9 73.5 212.6 88.1C212.4 88.9 212.8 89.5 213.6 89.7 214.3 89.9 215 89.5 215.2 88.7L218.8 72.6 225.1 70.4 237 81.6 235.6 87.6 219.5 92.7C218.6 92.7 218.1 93.7 218.5 94.4 218.6 95.2 219.4 95.4 220.2 95.3L234.9 90.7 233.2 98.3 225.9 100.4C225.3 100.6 224.8 101.5 225 102.1S226.1 103.2 226.9 103.1L232.5 101.4 230.4 110.5C230.3 111.3 230.9 112 231.7 112.1 232.2 112.3 233.1 111.9 233.3 111.1L235.4 102 239.9 106.1C240.4 106.5 241.2 106.6 241.9 106 242.2 105.5 242.2 104.4 241.8 104L236.1 98.9 237.8 91.4 249.1 101.9C249.8 102.3 250.6 102.5 251.3 101.8 251.7 101.4 251.6 100.3 251.2 99.9L238.5 88.3 239.9 82.3 255.5 77.4 260.2 82 256.5 98.1C256.3 98.9 256.7 99.5 257.5 99.7 258.3 99.9 259.2 99.5 259.4 98.8L262.7 84.2 268.4 89.3 266.8 96.3C266.6 97.1 267 97.8 267.8 97.9 268.5 98.1 269.2 97.7 269.4 96.9L270.6 91.5 277.1 97.6C277.6 98 278.7 98 279.1 97.5 279.5 96.8 279.7 96 279 95.6L272.2 89.1 278.4 87.2C279 86.8 279.5 86.1 279.3 85.5 279.2 84.9 278.7 84.6 278.2 84.4 278.2 84.4 278 84.4 277.6 84.6L269.7 86.9 264.1 81.8 279.4 76.8C280.3 76.7 280.7 76 280.3 75.1 280.1 74.8 279.9 74.5 279.4 74.3 279.2 74.3 278.9 74.2 278.6 74.2L261.8 79.6 257.3 75.3 260.9 59.5 267.7 57.4 279.9 68.7C280.6 69.4 281.4 69.3 281.8 68.6 282.5 68.2 282.4 67.3 281.7 66.7L270.6 56.5 278 54 283.4 59.1C283.9 59.5 284.7 59.4 285.4 59 285.8 58.3 286 57.5 285.3 57.1L281.2 53.1 289.2 50.6C290.1 50.5 290.2 49.7 290.2 48.9 290 48.6 289.5 48.2 289 48.1 289 48.1 288.7 48 288.4 47.9L279.9 50.6 281.4 44.1C281.5 43.6 281.2 42.7 280.4 42.5 279.6 42.4 278.9 43 278.8 43.6L276.9 51.6 269.6 54 273.2 38.2C273.4 37.4 272.7 36.7 271.9 36.5S270.5 36.7 270.3 37.5L266.3 54.9 260.2 56.8 248.2 45.6 249.8 38.9 266.2 33.9C266.9 33.5 267.3 32.7 267.2 31.9 267 31.6 266.6 31.2 266 31.1 265.8 31 265.5 31 265.2 31.2L250.5 35.7 252.2 28.2 259.6 25.8C260.2 25.6 260.6 24.9 260.5 24.1 260.1 23.4 259.4 23 258.8 23.1L252.9 25.1 254.8 16.8C254.9 16.2 254.3 15.3 253.8 15.2 253 15 252.1 15.6 251.9 16.1L250.1 24.4 245.8 20.2C245.6 20.1 245.3 20.1 245 20 244.5 19.9 243.9 20 243.6 20.2 243.2 20.9 243.3 21.8 243.7 22.4L249.3 27.5 247.6 35.1 236.3 24.6C235.7 23.9 234.8 24 234.5 24.4 233.8 25.1 233.8 25.9 234.2 26.6L246.9 38.2 245.4 45 229.8 49.9 225 45.5 229 28.1C229.2 27.3 228.7 26.7 228 26.5 227.2 26.3 226.6 26.7 226.4 27.5L222.8 43.4 217.1 38 219 29.9C219.1 29.4 218.5 28.4 217.7 28.3 216.9 28.1 216.2 28.8 216.1 29.3L214.6 35.8 208.1 29.6C207.9 29.6 207.9 29.6 207.6 29.5 207.1 29.4 206.5 29.5 206.2 29.7 205.7 30.5 205.8 31.3 206.3 31.7ZM244.7 48.1L246.4 47.7 247.5 48.7 257.2 57.8 258.3 58.9 258 60.4 255.1 73.2 254.7 74.7 253.2 75.2 240.6 79.2 239.1 79.6 237.7 78.5 228.3 69.5 226.9 68.4 227.3 66.8 230.2 54.1 230.5 52.5 232.3 52.1 244.7 48.1Z' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/path%3e%3cpath d='M718 46.8L740 46.4 744.5 50.5 741.3 63.7 735.4 65.6 716 54.8C715.8 54.7 715.8 54.7 715.5 54.7 715 54.5 714.4 54.7 714 55.4 713.8 56.2 713.9 56.7 714.6 57.2L731.5 66.5 722.4 69.2 714.8 65.2C714.8 65.2 714.6 65.2 714.6 65.2 714.1 65 713.5 65.2 713 65.9 712.7 66.3 713 67.2 713.7 67.7L718.5 70.5 711.7 72.4C711.1 72.5 710.7 73.3 710.8 74.1S711.9 75.2 712.7 75.1L719.2 73.1 716.7 78C716.2 78.7 716.5 79.6 717.3 80.1 717.8 80.2 718.6 80.1 719.1 79.4L723.1 71.9 732.5 69.3 723.2 86.2C722.7 86.9 723.1 87.8 723.5 88.2 724.3 88.4 725.1 88.3 725.6 87.6L736.1 68.2 742.3 66.4 751.8 75.6 750.3 81.8 731.6 93.5C730.9 93.8 730.7 94.6 731.1 95.3S732.3 96.1 732.9 95.7L749.4 85.5 747.1 95 740 99.4C739.4 99.7 739.2 100.5 739.5 101.4S740.7 102.3 741.3 101.9L746.2 98.7 744.5 105.7C744.3 106.4 745 107.2 745.7 107.3 746.5 107.5 747.2 107.1 747.4 106.4L749.1 99.4 752 104.2C752.3 105.1 753.1 105.3 753.8 104.6 754.5 104.3 754.6 103.5 754.3 102.8L749.9 95.7 752.3 86.2 762.2 102.8C762.6 103.5 763.6 103.7 764.3 103.4S765.1 102.2 764.7 101.5L753.2 82.5 754.7 76.3 767.7 72.6 772.1 77 772.5 99C772.5 99.9 773.3 100.3 774 100.5 774.9 100.4 775.3 99.7 775.5 99L775 79.6 781.9 86.2 782 94.8C782.1 95.6 782.8 96.1 783.6 96.3 784.2 96.1 784.9 95.5 784.8 94.6L784.8 89.1 789.9 94C790.4 94.3 791.2 94.3 791.8 93.9 792.3 93.2 792.2 92.3 791.8 91.9L786.6 87.1 792.5 86.9C793 86.8 793.7 86.1 793.6 85.5 793.8 84.8 793.3 84.4 792.6 84.2 792.6 84.2 792.3 84.1 792.3 84.1L783.8 84.2 776.9 77.6 796.2 77.1C797.1 77 797.7 76.6 797.6 75.8 797.6 75 797.1 74.6 796.6 74.5 796.3 74.4 796.3 74.4 796.3 74.4L774 75 769.5 70.6 772.8 57.4 778.6 55.8 798.3 66.4C798.7 66.7 799.6 66.4 800 66 800.5 65.2 800.2 64.3 799.4 63.9L782.5 54.5 791.7 51.8 799.2 55.9C799.9 56.3 800.8 56.3 800.9 55.5 801.4 54.8 801.1 53.9 800.6 53.5L795.5 50.9 802.3 48.9C802.9 48.5 803.4 47.8 803.3 47 803.1 46.7 802.6 46.3 802.1 46.2 801.9 46.1 801.9 46.1 801.5 46.3L794.8 48.2 797.4 43.1C797.8 42.4 797.4 41.7 797 41.3 796.7 41.3 796.7 41.3 796.5 41.2 795.9 41.1 795.4 41.2 795 41.7L790.9 49.2 781.8 51.9 791.1 35C791.3 34.2 791.2 33.3 790.5 33.2 790.3 32.8 790.3 32.8 790 32.8 789.5 32.6 788.9 33 788.5 33.5L777.9 53.2 772 54.7 762.2 45.5 763.7 39.5 782.7 28C783.3 27.6 783.6 26.5 783.2 25.9S781.8 25 781.1 25.4L764.6 35.6 766.9 26.3 774 21.7C774.7 21.3 774.9 20.6 774.5 19.9 774.1 19.3 773.3 19.1 772.7 19.5L767.8 22.4 769.5 15.4C769.7 14.9 769.3 14 768.6 13.8 767.8 13.6 766.8 14.2 766.7 14.7L765 21.7 762 16.9C761.9 16.6 761.7 16.2 761.4 16.2 760.9 16.1 760.6 16.3 760.2 16.5 759.6 16.8 759.4 17.6 759.8 18.3L764 25.6 761.8 34.9 751.8 18.2C751.6 17.9 751.4 17.9 750.9 17.7 750.6 17.7 750.3 17.6 750 17.8 749.4 18.2 749.1 19.2 749.5 19.9L760.8 38.8 759.4 44.8 746.6 48.5 741.9 44.4 741.6 22.1C741.4 21.5 741 20.8 740.5 20.7 740.3 20.6 740.3 20.6 740.2 20.9 739.4 20.7 738.7 21.4 738.8 22.2L739.3 41.5 732.1 34.8 732 26.3C731.9 25.7 731.4 25.3 730.9 25.2 730.9 25.2 730.7 25.2 730.7 25.2 729.9 25 729.2 25.6 729.2 26.5L729.5 32.3 724.3 27.5C724.1 27.1 723.9 27.1 723.6 27 723.1 26.9 722.5 27 722.5 27.3 721.8 27.9 721.8 28.8 722.2 29.4L727.3 34.2 721.9 34.3C721 34.3 720.3 35 720.4 35.8 720.5 36.4 721.2 37.1 721.7 37L730.3 36.9 737.2 43.5 717.8 44C717 44.1 716.5 44.8 716.4 45.5 716.5 46.1 717.1 46.8 718 46.8ZM744.5 62.8L747 52.7 747.4 51.2 748.9 50.7 758.6 47.9 760.3 47.5 761.5 48.6 768.8 55.6 769.9 56.7 769.5 58.2 767.1 68.3 766.7 69.9 765.2 70.4 755.4 73.2 754 73.7 752.6 72.5 745.2 65.5 744.1 64.4 744.5 62.8Z' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/path%3e%3cpath d='M577.8 18.2L579.5 26.4 574.1 24.8C573.5 24.6 572.7 24.9 572.3 25.7 572.3 26.4 572.6 27.2 573.2 27.4L580.3 29.6 581.8 37.2 567.5 32.6C566.6 32.4 565.8 32.7 565.7 33.5 565.3 34.2 565.7 35 566.6 35.2L582.4 40.3 584 47.2 572 58.1 566 56.3 562.5 39C562.3 38.8 562.1 38.6 561.9 38.4 561.8 38.2 561.2 38 560.8 38 559.9 38.1 559.5 38.9 559.8 39.6L563 55.4 555.8 53 553.9 45C554.1 44.8 553.9 44.6 553.7 44.4 553.4 44 552.8 43.8 552.2 44 551.7 44.2 551.3 44.9 551.2 45.6L552.8 52.1 543.7 49.3C543.1 49 542.4 49.4 542 50.1 541.9 50.9 542.3 51.7 542.8 51.9L551.4 54.5 547.2 58.3C546.7 58.8 546.8 59.8 547.2 60.2 547.7 60.8 548.6 61 549.2 60.5L554.5 55.6 561.8 58 550.8 68.1C550.2 68.6 550.1 69.4 550.7 70 551.2 70.6 552 70.6 552.6 70.1L564.8 58.9 571.1 60.7 574.5 76.7 570 80.9 553.8 75.8C553.1 75.4 552.1 75.9 552.1 76.6 551.7 77.4 552.2 78 552.9 78.4L567.6 83 561.9 88.2 554.7 85.8C554.1 85.6 553.1 86.1 552.9 86.7S553.2 88.2 554 88.6L559.5 90.4 552.7 96.7C552.1 97.2 552.2 98.2 552.7 98.8 553.1 99.2 554 99.4 554.6 98.8L561.5 92.6 563 98.5C563.1 99 563.7 99.6 564.6 99.5 565.2 99.3 565.8 98.4 565.6 97.8L563.9 90.4 569.6 85.2 572.9 100.2C573.2 101 573.8 101.6 574.7 101.5 575.3 101.3 575.9 100.4 575.7 99.8L572 83 576.5 78.9 592.1 83.8 593.3 90.2 581.1 101.4C580.5 101.9 580.5 102.7 581 103.3 581.6 103.9 582.5 104.1 583.1 103.5L594.1 93.5 595.9 100.9 590.6 105.8C590 106.3 589.9 107.1 590.5 107.7 591 108.3 591.8 108.3 592.3 107.7L596.5 104 598.3 112.7C598.5 113.3 599.4 113.9 600 113.8 600.8 113.4 601.4 112.9 601 112.1L599.2 103 605.3 104.9C606.1 105 606.8 104.6 607.1 104.1 607.3 103.5 607.1 103 606.7 102.6 606.7 102.6 606.6 102.4 606.2 102.3L598.4 99.7 596.6 92.3 612.1 97C612.8 97.4 613.6 97 613.8 96.1 613.9 95.7 613.9 95.3 613.5 94.9 613.3 94.7 613.2 94.5 613 94.4L596 89.2 594.8 83.1 606.8 72.2 613.5 74.4 617.1 90.6C617.3 91.5 618 91.9 618.8 91.6 619.5 91.6 619.9 90.9 619.8 89.9L616.5 75.3 623.9 77.5 625.5 84.7C625.7 85.3 626.4 85.7 627.1 85.8 627.9 85.4 628.5 84.9 628.2 84.1L627.1 78.6 635.1 81C635.8 81.4 636.4 80.9 636.8 80.2 636.9 79.8 636.7 79.2 636.3 78.8 636.3 78.8 636.2 78.6 636 78.4L627.4 75.8 632.3 71.3C632.7 70.9 633 70 632.4 69.4 631.9 68.8 630.9 68.9 630.5 69.3L624.4 74.9 617 72.6 629 61.7C629.6 61.1 629.5 60.2 628.9 59.6S627.6 59 627 59.5L613.8 71.6 607.7 69.6 604.3 53.6 609.4 48.9 625.8 54.2C626.5 54.2 627.3 53.9 627.7 53.1 627.7 52.7 627.6 52.2 627.2 51.8 627 51.6 626.8 51.4 626.5 51.4L611.8 46.7 617.5 41.5 624.9 43.7C625.5 44 626.3 43.6 626.7 42.9 626.7 42.1 626.4 41.4 625.8 41.1L619.8 39.4 626.1 33.6C626.5 33.2 626.6 32.1 626.2 31.7 625.7 31.1 624.6 31.1 624.2 31.4L617.9 37.2 616.8 31.3C616.6 31.1 616.5 30.9 616.3 30.7 615.9 30.3 615.4 30.1 615 30.1 614.2 30.4 613.8 31.2 613.8 31.9L615.5 39.3 609.8 44.6 606.5 29.5C606.4 28.5 605.6 28.1 605.1 28.3 604.1 28.4 603.7 29.2 603.7 29.9L607.4 46.7 602.3 51.4 586.7 46.5 585.3 40.2 598.5 28.2C599 27.6 599.1 26.9 598.5 26.3 598 25.7 597.3 25.7 596.7 26.2L584.6 37.2 583.1 29.6 589.2 24C589.6 23.6 589.7 22.5 589.1 21.9 588.6 21.3 587.6 21.5 587.2 21.8L582.3 26.3 580.4 17.5C580.3 17.3 580.3 17.3 580.1 17.1 579.7 16.8 579.2 16.5 578.8 16.5 578 16.9 577.6 17.6 577.8 18.2ZM599.9 53.5L601.6 54.2 601.9 55.7 604.7 68.7 605 70.2 603.8 71.3 594.2 80.1 593 81.2 591.5 80.7 578.9 76.7 577.4 76.3 576.9 74.6 574.3 61.8 573.8 60.1 575 59 584.6 50.2 585.8 49.1 587.5 49.8 599.9 53.5Z' fill='rgba(28%2c 83%2c 142%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1824'%3e%3crect width='1200' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter id='SvgjsFilter1825'%3e%3cfeGaussianBlur stdDeviation='1'%3e%3c/feGaussianBlur%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
  opacity: 0.85;
}

.fnt {
  font-family: "Lucida Handwriting", sans-serif;
  /* font-family: "MV Boli", sans-serif; */
  /* font-family: "Segoe Script", sans-serif; */
}

.login-button-close{
  position: absolute !important;
  z-index: 300;
  right: 0;
  top: 0;
}

.ReactModal__Overlay--after-open{
  z-index: 10000000 !important;
}

.btn-position-top {
  bottom: 40px;
  position: fixed !important;
  right: 25px;
  z-index: 20;
  border: 1px solid #cec6c6 !important;
}

#reload_href{
  padding-left: 1rem;
}

.text-red-500{
  color: "red";
}

.logo1{
  width:70%;
}

/* ._loading_overlay_overlay {  position: fixed; } */

.not-found{
  width: 500px;
}

.main-border-login{
  margin-left: auto !important;
}

.replyBtn{
  font-size: 1rem !important;
}

.MuiAvatar-circular {
  width: 25px !important;
  height: 25px !important;
}

.btn-profile{
  border-radius: 20px;
}

.profile{
  width: 25px;
  height: 25px;
}

.bank-icon{
  width: 80px;
  height: 80px;
}