.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  /* background-image:linear-gradient(163deg, #f3f3f3 0%, rgba(251, 247, 255, 0.8) 11.8%,  #f3f3f3 42.86%, #f3f3f3 57.14%, #E5E5E5 71.43%, #f3f3f3 100%) */
}

/* body {
  background: #f1f1f1;
} */
/* body {
  background-color: #f3f3f3 !important;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navTo nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.navTo ul {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

.navTo ul li {
  display: none;
  margin: 0 1rem;
  color: #fff;
}

/*  merge css */
/* card1 */

.description {
  padding-left: 15px;
  border-left: 2px solid #000;
  text-align: left;
}

.wrapper {
  margin: 10px 50px;
}

.breadcrumb-color {
  background-color: #333;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* card1 */
.card-custom {
  overflow: hidden;
  min-height: 120px;
  /* box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); */
  box-shadow: 0px 1px 2px rgba(10, 10, 10, 0.3);
  margin: 3px;
}

.card-custom-img {
  height: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: "";
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 45px;
  left: 1.25rem;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.card {
  min-height: 350px;
  max-height: 350px;
}

.text-muted i {
  margin: 0 10px;
}

.price {
  overflow: none !important;
  position: absolute;
  right: 0px;
  top: -10px;
  background: #ff4444;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100px;
  height: 50px;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

.bon {
  position: absolute;
  left: 0px;
  top: -10px;
  background: #1884ff;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

.lang {
  position: absolute;
  left: 0px;
  top: -10px;
  background: #ffc300;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin: 5px;
}

/* .card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
} */

.profile-card-1 i {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.btn-icon {
  display: inline-block;
  border: 0px;
  background-color: #fff;
  cursor: pointer;
}
.facebook-color {
  color: #4267b2;
}
.twitter-color {
  color: #1da1f2;
}
.google-color {
  color: #db4437;
}
.link-color {
  color: #41b64f;
}
.profile-card-1 .icon-block {
  float: left;
  width: 100%;
}
.profile-card-1 .icon-block a {
  text-decoration: none;
}
.btn-icon:hover {
  background-color: red;
  color: #2e3434;
  text-decoration: none;
}

.profile-card-1 i:hover {
  background-color: #e1e1e0;
  color: #2e3434;
  text-decoration: none;
}

.search {
  background-color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
}

/*  */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-display: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #222;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.pb-70 {
  padding-bottom: 70px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.font__weight-thin {
  font-weight: 100;
}
.divider {
  width: 35px;
  height: 2px;
  background: #2775ff;
  margin: 25px auto 32px;
  border: 0;
}
.panel__head,
.panel__list {
  text-align: left;
}

.panel__wrapper-icon .panel__head {
  background: linear-gradient(to right, #2775ff, #7202bb);
  padding: 24px 40px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) .panel__wrapper-icon .panel__head {
  padding: 24px 50px;
}

@media (min-width: 992px) .panel__wrapper-icon .panel__head {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) .panel__wrapper-icon .panel__head p {
  margin-top: 0;
  margin-left: 58px;
}
.panel__wrapper-icon .panel__head p {
  flex: 1;
  margin-top: 20px;
}
.font__size-14 {
  font-size: 0.875rem;
}

.panel__head,
.panel__list {
  text-align: left;
}

.panel__wrapper-icon .panel__list {
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}
.panel__head,
.panel__list {
  text-align: left;
}
.panel__list {
  list-style: none;
  margin: 0;
}
.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

.panel__wrapper-icon .panel__list li .line {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 3px;
  height: 40px;
  background: linear-gradient(to bottom, #2775ff, #7202bb);
  opacity: 0;
  transition: all 0.3s ease;
}
.panel__wrapper-icon .panel__list li:hover {
  z-index: 2;
}
.panel__wrapper-icon .panel__list li:hover .line {
  opacity: 1;
  left: -15px;
  transition-delay: 0.1s;
}

.panel__wrapper-icon .panel__list li:nth-child(2n) {
  background: #f6f6f6;
}

@media screen and (min-width: 576px) .panel__wrapper-icon .panel__list li {
  padding-left: 110px;
}

.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
}
.panel__wrapper-icon .panel__list li:hover:after,
.panel__wrapper-table .panel__list li:hover:after {
  transform: scale(1);
  opacity: 1;
}

.panel__wrapper-gradient .panel__list li:after,
.panel__wrapper-icon .panel__list li:after,
.panel__wrapper-table .panel__list li:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -15px;
  right: -15px;
  bottom: -6px;
  background: #fff;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.95);
  z-index: -1;
}
.font__family-open-sans {
  font-family: "Open Sans", sans-serif;
}

.panel__wrapper-icon .panel__head p {
  margin-top: 0;
  margin-left: 58px;
}

.panel__wrapper-icon .panel__head {
  display: flex;
  align-items: center;
}

.font__size-21 {
  font-size: 1.3125rem;
}

.font__family-montserrat {
  font-family: "Montserrat", sans-serif;
}

.panel__wrapper-icon .panel__list li .icon {
  font-size: 36px;
  color: #2775ff;
  opacity: 0.5;
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 20px;
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
  margin-left: 0 !important;
}
.icon {
  display: inline-block;
  text-align: center;
}
.fal,
.far {
  font-weight: 600 !important;
}
.panel__wrapper-icon .panel__list li {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 1;
  padding: 28px;
}

.panel__wrapper-icon .panel__list li .icon {
  position: absolute;
  left: 40px;
  margin-bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.panel__wrapper-icon .panel__list li {
  padding-left: 110px;
}
.panel__wrapper-icon .panel__list li:hover .icon {
  opacity: 1;
}

/************************************/
.list-inline-4 li:hover > .after,
.list-inline-5 > li.list-counter:hover .list-shape,
.list-inline-5 > li.list-counter:hover > .after {
  opacity: 1;
}

.list-inline-4 li > .after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: linear-gradient(to right, #2775ff, #7202bb);
  z-index: -1;
  transition: all 0.4s ease;
  opacity: 0;
}
.list-inline-4 li > .before {
  top: 50%;
  transform: translateY(-50%);
  left: 1.25em;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.list-inline-3 li > .after,
.list-inline-4 li > .before {
  position: absolute;
  transition: all 0.4s ease;
  background: #2775ff;
}
.list-inline-4 li {
  display: block;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 50px;
  padding: 0.875em 0.875em 0.875em 3.4375em;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}

.font__size-16 {
  font-size: 1rem;
}
.font__family-montserrat {
  font-family: "Montserrat", sans-serif;
}

.list-inline-4 li {
  display: block;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 50px;
  padding: 0.875em 0.875em 0.875em 3.4375em;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.list-inline-4 li + li {
  margin-top: 10px;
}
.list-inline-4 li:hover > .after,
.list-inline-5 > li.list-counter:hover .list-shape,
.list-inline-5 > li.list-counter:hover > .after {
  opacity: 1;
}
.list-inline-4 li .icon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}
.list-inline-4 li:hover > .before {
  background: 0 0;
  width: 14px;
  height: 14px;
}
.list-inline-4 li:hover {
  color: #fff;
  box-shadow: 0 5px 16px 0 rgba(165, 165, 165, 0.5);
}
.list-inline-3 li:hover,
.list-inline-3 li:hover a,
.list-inline-4 li:hover a,
.list-inline-5 > li.list-counter:hover,
.list-inline-5 > li.list-counter:hover a,
.list-inline-5 > li.list-counter:hover > .before,
.list-inline-6 li:hover:before {
  color: #fff;
}

.fa-angle-right:before {
  content: "\f105";
}

[class*="list-inline"] a {
  transition: none;
  text-decoration: none !important;
}
.letter-spacing-60 {
  letter-spacing: 0.06em;
}
.font__size-46 {
  font-size: 2.875rem;
}
.font__weight-thin {
  font-weight: 100;
}
.font__family-roboto {
  font-family: "Roboto", sans-serif;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.line__height-26 {
  line-height: 1.625rem;
}
.font__size-16 {
  font-size: 1rem;
}
.font__weight-normal {
  font-weight: 400;
}
.brk-dark-font-color {
  color: #585858;
}

.brk-dark-font-color {
  font-family: "Open Sans", sans-serif;
}

.pb-70 {
  padding-bottom: 70px !important;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/*******************************************/
.overflow-hid {
  overflow: hidden !important;
}
.bg__style {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.position-relative {
  position: relative !important;
}
.brk-abs-bg-overlay,
.brk-abs-img,
.brk-abs-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.opacity-90 {
  opacity: 0.9;
}
.brk-base-bg-gradient-50deg {
  background-image: linear-gradient(
    to right,
    #2775ff,
    #008dff,
    #00a2ff,
    #00b5ff,
    #00c6ff
  );
}

.info-box__wrapper-web {
  padding: 70px 20px;
}
.info-box__wrapper-web {
  text-align: left;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
[class*="info-box__wrapper"] {
  transition: all 0.4s ease;
}
.info-box__wrapper-strict,
.info-box__wrapper-web .shape {
  position: relative;
  z-index: 1;
}
.info-box__wrapper-web .shape:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.info-box__wrapper-web .livicon-evo,
.info-box__wrapper-web .shape:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape > .before {
  transform: scale(1.35);
}
.info-box__wrapper-web .svg-wrap {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top, var(--brk-base-6), var(--brk-base-2));
  transition: all 0.4s ease;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale(0);
}
.info-box__wrapper-web .svg-wrap svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
[class*="info-box__wrapper"] svg {
  transition: all 0.4s ease;
  width: 84px;
  height: 84px;
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape:after {
  content: "";
}
.info-box__wrapper-web .shape:after {
  position: absolute;
  bottom: calc(50% + 7px);
  left: calc(50% - 1px);
  width: 2px;
  height: 100vh;
  background: #fff;
}
.info-box__wrapper-web .content > * {
  color: #fff;
}
.info-box__wrapper-web .content p {
  color: #b3daee;
  margin-top: 15px;
}
.info-box__wrapper-web.current .shape > .before,
.info-box__wrapper-web:hover .shape > .before,
.wpb_column.current .info-box__wrapper-web .shape > .before {
  -webkit-animation: 1.5s brk-pulse 0.3s infinite;
  animation: 1.5s brk-pulse 0.3s infinite;
  opacity: 0.1;
}
.info-box__wrapper-web .shape > .after,
.info-box__wrapper-web .shape > .before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 50%;
  z-index: -1;
}
.info-box__wrapper-web .shape > .before {
  transform: scale(1.35);
}
.info-box__wrapper-web.current .svg-wrap,
.info-box__wrapper-web:hover .svg-wrap {
  transform: scale(1);
}
.info-box__wrapper-web .svg-wrap {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top, #0b98f6, #00c6ff);
  transition: all 0.4s ease;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transform: scale(0);
}
.info-box__wrapper-shuffle.current svg *,
.info-box__wrapper-shuffle:hover svg *,
.info-box__wrapper-web svg *,
.wpb_column.current .info-box__wrapper-strict svg * {
  stroke: #fff;
}

.wpb_column.current .info-box__wrapper-web .svg-wrap {
  transform: scale(1);
}
.wpb_column.current .info-box__wrapper-web .shape > .before {
  animation: 1.5s brk-pulse 0.3s infinite;
  opacity: 0.1;
}
.wpb_column.current .info-box__wrapper-web .shape > .after {
  animation: brk-pulse 1.5s infinite;
  opacity: 0.2;
}
@-webkit-keyframes brk-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes brk-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes brk-pulse-paused {
  0%,
  to {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes brk-pulse-paused {
  0%,
  to {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
    opacity: 0;
  }
}

ol,
ul {
  padding-left: 0px !important;
}

.MuiTextField-root {
  width: 100%;
}

.icon-search {
  font-size: 20px;
  margin: 2px;
  margin-right: 7px;
}

#standard-basic {
  height: 8px;
}

.MuiListItem-root {
  /* width: 50px !important; */
  cursor: pointer;
}

.card-title {
  font-size: 14px;
  cursor: pointer;
}

.card-text {
  cursor: pointer;
}

.noData {
  border: 1px solid #bbb;
  background-color: #eaeaea;
  border-radius: 5px 5px;
  color: darkslategrey;
}

.MuiSvgIcon-root {
  cursor: pointer;
}


/* custom */
.ws{
  position: absolute;
  z-index: 10000;
  background-color: red;
}

.container-breadcrumb{
  padding-bottom: 10px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit !important;
  border-style: solid !important;
  border-width: thin !important;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.admin-item{
  background-color: gainsboro;
  margin: 1px;
}

.card-admin {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card-admin:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.css-1yo1jo6-MuiStack-root{
  margin-left: auto;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  /* background-color: #3f51b5; */
  /* background: linear-gradient(to left, #A6A0B7, #3f51b5); */
  /* background: linear-gradient(to right, #3188D5, #26a0da); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='100' preserveAspectRatio='none' viewBox='0 0 1200 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1200' height='100' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M18.57 0C18.88 7.77 -0.77 16.19 1 25C2.45 32.22 12.75 30.44 25 32.06C37.25 33.68 39.08 27.29 50 31.47C62.55 36.26 62.02 39.94 71.94 50C74.52 52.62 71.8 56.45 75 56.82C85.83 58.06 88.1 56.13 100 53.21C102.02 52.72 101.14 51.29 102.84 50C113.64 41.82 114.92 43.12 125 34.27C129.16 30.62 127.67 29.24 131.32 25C140.17 14.72 140.58 15.03 150 5.23C152.6 2.53 151.91 0.72 155.36 0C164.41 -1.89 165.18 0 175 0C187.5 0 187.5 0 200 0C212.5 0 212.5 0 225 0C237.5 0 237.5 0 250 0C262.5 0 262.5 0 275 0C287.5 0 287.5 0 300 0C312.5 0 312.5 0 325 0C337.5 0 337.5 0 350 0C362.5 0 362.5 0 375 0C387.5 0 387.5 0 400 0C412.5 0 412.5 0 425 0C437.5 0 437.5 0 450 0C462.5 0 462.5 0 475 0C487.5 0 487.5 0 500 0C512.5 0 512.5 0 525 0C534.51 0 539.4 -5.39 544.02 0C550.12 7.11 544.02 12.96 546.43 25C547.01 27.9 547.56 29.88 550 29.88C554.9 29.88 558.87 29.86 561.11 25C565.75 14.92 558.95 8.64 563.75 0C565.9 -3.86 569.38 0 575 0C579.16 0 579.76 -1.79 583.33 0C592.26 4.46 591.55 12.5 600 12.5C608.89 12.5 608.53 4.74 618 0C621.03 -1.51 621.5 0 625 0C634.72 0 640.68 -5.46 644.44 0C649.29 7.04 640.82 12.78 642.21 25C643.6 37.28 645.73 37.27 650 49C650.28 49.77 650.53 49.75 651.32 50C663.03 53.71 664.09 56.92 675 56.92C679.24 56.92 678.42 53.56 681.62 50C690.92 39.68 688.78 35.99 700 29.17C709.33 23.49 722.73 26.94 722.73 25C722.73 23.07 711.26 23.73 700 21.43C687.4 18.86 686.63 20.37 675 15.25C662.29 9.65 651.32 4.14 651.32 0C651.32 -3.48 663.16 0 675 0C687.5 0 687.5 0 700 0C709.62 0 713.72 -5.22 719.23 0C726.22 6.62 717.79 20.91 725 23.68C733.18 26.83 739.09 19.63 750 11.84C755.68 7.79 752.42 2.73 758.18 0C764.92 -3.19 766.59 0 775 0C787.5 0 787.5 0 800 0C812.5 0 812.5 0 825 0C837.04 0 845.96 -5.86 849.07 0C852.58 6.64 845.12 13.41 838.24 25C833.09 33.67 831.26 32.49 825 40.52C821.52 44.99 820.38 44.67 818.75 50C815.1 61.91 812.38 64.17 814.44 75C815.51 80.63 819.92 82.92 825 82.92C829.52 82.92 829.74 79.36 833.64 75C842.24 65.4 841.89 65.05 850 55C851.97 52.55 851.76 52.38 853.81 50C864.26 37.86 862.22 30.79 875 25.96C885.31 22.06 887.92 32.83 900 32.53C907.47 32.35 907.74 29.69 914.1 25C920.24 20.48 918.37 17.64 925 14.1C936.32 8.06 938.74 11.47 950 5.85C952.86 4.42 950.3 0.69 953.24 0C962.8 -2.24 964.12 0 975 0C987.5 0 987.5 0 1000 0C1004.89 0 1006.07 -2.6 1009.78 0C1018.57 6.15 1019.53 17.5 1025 17.5C1029.25 17.5 1023.42 4.06 1029.22 0C1035.92 -4.69 1039.61 0 1050 0C1062.5 0 1062.5 0 1075 0C1087.5 0 1087.5 0 1100 0C1112.5 0 1112.5 0 1125 0C1137.5 0 1137.5 0 1150 0C1161.46 0 1161.64 -0.6 1172.92 0C1174.14 0.06 1173.88 1.33 1175 1.33C1176.85 1.33 1176.83 0.11 1178.85 0C1189.33 -0.56 1195.15 -5.73 1200 0C1205.73 6.77 1200 12.5 1200 25C1200 37.5 1200 37.5 1200 50C1200 62.5 1200 62.5 1200 75C1200 84.1 1204.57 87.36 1200 93.21C1194.81 99.86 1190.35 97.32 1180.47 100C1177.85 100.71 1177.74 100 1175 100C1171.64 100 1171.49 100.83 1168.27 100C1158.99 97.62 1158.24 93.58 1150 93.58C1146.46 93.58 1148.43 99.05 1144.72 100C1135.93 102.26 1134.86 100 1125 100C1115.56 100 1114.14 102.75 1106.12 100C1101.64 98.46 1104.59 93.1 1100 91.42C1089.03 87.42 1086.61 92.65 1075 88.64C1062.86 84.44 1063.83 81.67 1052.5 75C1051.33 74.31 1051.11 73.91 1050 73.91C1049.44 73.91 1049.71 74.57 1049.17 75C1037.21 84.53 1038.54 88.63 1025 93.83C1013.95 98.07 1011.32 91.51 1000 93.87C996.53 94.59 998.83 99.16 995.42 100C986.33 102.23 985.21 100 975 100C962.5 100 962.5 100 950 100C937.5 100 937.5 100 925 100C912.5 100 912.5 100 900 100C892.68 100 892.26 101.62 885.37 100C879.76 98.67 879.84 94.1 875 94.1C871.49 94.1 872.62 99.06 868.66 100C860.12 102.01 859.33 100 850 100C837.5 100 837.5 100 825 100C812.5 100 812.5 100 800 100C789.32 100 786.54 103.75 778.63 100C774.04 97.83 778.56 88.16 775 88.16C769.72 88.16 768.78 96.29 760.94 100C756.28 102.21 755.47 100 750 100C737.5 100 737.5 100 725 100C717.86 100 713.22 104.55 710.71 100C706.32 92.05 714.8 85.1 711.21 75C709.44 70.02 705.18 69.84 700 69.84C696.86 69.84 694.7 71.57 694.58 75C694.18 86.65 704 93.57 698.96 100C694.21 106.07 686.98 100 675 100C662.5 100 662.5 100 650 100C637.5 100 637.5 100 625 100C612.5 100 612.5 100 600 100C587.5 100 587.5 100 575 100C562.5 100 562.5 100 550 100C537.5 100 537.5 100 525 100C512.5 100 512.5 100 500 100C487.5 100 487.5 100 475 100C470.65 100 470.02 101.86 466.3 100C457.52 95.61 456.83 87.5 450 87.5C445.27 87.5 448.67 97.25 443.18 100C436.17 103.5 434.09 100 425 100C412.5 100 412.5 100 400 100C387.5 100 387.5 100 375 100C365.22 100 360.62 105.44 355.43 100C348.71 92.94 353.76 87.19 351.19 75C351.05 74.33 350.61 74.29 350 74.29C349.24 74.29 349.17 74.56 348.44 75C336.67 82.12 337.55 84.25 325 89.42C313.33 94.22 310.69 98.37 300 94.94C288.22 91.16 286.03 86.88 280.06 75C274.74 64.41 279.66 62.05 277.42 50C277.13 48.41 276.27 47.73 275 47.73C273.56 47.73 272.31 48.22 272 50C269.92 61.86 275.19 64.22 270.22 75C264.19 88.11 260.49 97.78 250 97.78C238.84 97.78 230.16 87.96 226.92 75C224.18 64.07 238.64 60.83 238.04 50C237.68 43.64 232.43 42.71 225 40.63C213.41 37.38 211.85 36.92 200 39.34C188.86 41.61 188.35 43.44 179.03 50C175.85 52.24 177.13 53.54 175 56.94C169.31 66.04 163.39 66.7 163.39 75C163.39 81.14 169.38 85.83 175 85.83C180.26 85.83 179.55 79.8 185.16 75C192.05 69.11 192.29 64.44 200 64.44C209.21 64.44 214.6 66.73 219 75C224.06 84.51 224.33 92.88 218.92 100C214.83 105.38 209.46 100 200 100C187.5 100 187.5 100 175 100C164.88 100 164.02 101.95 154.76 100C151.52 99.32 151.99 94.74 150 94.74C148.36 94.74 150.07 99.46 147.5 100C137.57 102.09 136.25 100 125 100C112.5 100 112.5 100 100 100C87.5 100 87.5 100 75 100C62.5 100 62.5 100 50 100C39.76 100 39.1 101.65 29.52 100C26.6 99.5 27.4 95.69 25 95.69C22.21 95.69 22.58 99.41 19.14 100C10.08 101.56 4.15 105.42 0 100C-5.42 92.92 0 87.5 0 75C0 65.31 -1.2 65 0 55.63C0.4 52.5 3.21 53.12 3.21 50C3.21 39.06 1.45 38.76 0 27.5C-0.16 26.26 0 26.25 0 25C0 12.5 -5.33 7.17 0 0C3.96 -5.33 18.38 -4.73 18.57 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M50 4.17C46.81 2.18 43.75 1.14 43.75 0C43.75 -0.95 46.88 0 50 0C62.5 0 62.5 0 75 0C84.6 0 94.2 -4.02 94.2 0C94.2 5.73 85.67 18.48 75 19.49C63.57 20.57 62.44 11.93 50 4.17' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 21.47C247.22 21.47 244.61 22.67 244.61 25C244.61 28.6 247.09 33.33 250 33.33C253.14 33.33 256.71 28.47 256.71 25C256.71 22.54 253.27 21.47 250 21.47' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475 23.97C473.88 23.97 472.86 24.07 472.86 25C472.86 27.26 473.62 30.36 475 30.36C476.56 30.36 478.75 27 478.75 25C478.75 23.81 476.83 23.97 475 23.97' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M775 17.79C770.25 17.79 764.29 20.71 764.29 25C764.29 30.37 770.57 37.1 775 37.1C778.64 37.1 780.43 30.75 780.43 25C780.43 21.09 778.32 17.79 775 17.79' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M875 24.21C862.8 24.21 850.4 7.07 850.4 0C850.4 -5.04 862.7 0 875 0C886.91 0 898.83 -4.99 898.83 0C898.83 7.11 887.01 24.21 875 24.21' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M975 18.88C970.23 18.88 965 21.28 965 25C965 29.61 970.4 35.53 975 35.53C979.06 35.53 982.32 29.77 982.32 25C982.32 21.45 978.89 18.88 975 18.88' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1125 22.62C1124.05 22.62 1123.08 23.46 1122.92 25C1121.67 37.15 1121.32 37.84 1122.18 50C1122.36 52.53 1123.2 54.38 1125 54.38C1127.52 54.38 1130.66 53.28 1130.83 50C1131.43 38.59 1129.16 37.31 1126.54 25C1126.25 23.62 1125.86 22.62 1125 22.62' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M400 49.17C399.52 49.3 399.55 49.51 399.43 50C396.31 62.43 393.31 63.43 393.52 75C393.59 79.05 395.86 80.88 400 81.25C411.6 82.27 412.71 80.24 425 77.78C428.33 77.11 430.59 77.98 431.25 75C433.66 64.09 433.41 61.67 431.14 50C430.28 45.6 429.17 42.97 425 42.86C413.6 42.56 412.3 45.73 400 49.17' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M500 70.19C491.96 70.19 483.33 72.45 483.33 75C483.33 77.57 492.02 80.43 500 80.43C504.52 80.43 508.33 77.6 508.33 75C508.33 72.48 504.46 70.19 500 70.19' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M575 71.48C573.01 71.48 570.83 72.62 570.83 75C570.83 81.33 573.1 88.89 575 88.89C576.87 88.89 578.38 81.49 578.38 75C578.38 72.78 576.78 71.48 575 71.48' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M650 51.04C643.26 51.04 633.09 64.78 633.09 75C633.09 81.89 642.45 85.27 650 85.27C655.01 85.27 658.21 80.85 658.21 75C658.21 63.73 655.82 51.04 650 51.04' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M975 69.19C970.81 69.19 965.74 72.52 965.74 75C965.74 77.26 970.61 78.68 975 78.68C977.74 78.68 980 77.12 980 75C980 72.38 977.94 69.19 975 69.19' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0.71 0C0.71 0.32 0.2 1 0 1C-0.16 1 -0.21 0.29 0 0C0.15 -0.21 0.71 -0.18 0.71 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M75 10.29C68.41 10.29 61 2.85 61 0C61 -2.3 68 0 75 0C80.07 0 85.14 -2.12 85.14 0C85.14 3.02 80.48 10.29 75 10.29' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M138.19 25C143.48 18.26 143.97 18.63 150 12.5C156.27 6.13 155.37 3.72 162.8 0C167.87 -2.53 168.9 0 175 0C186.14 0 188.31 -2.99 197.28 0C200.81 1.18 196.5 6.39 200 8.33C210.36 14.08 213.97 9.69 225 15.38C230.14 18.03 232.35 20.64 232.35 25C232.35 28.38 229.41 30.3 225 30.86C213.24 32.35 211.8 26.52 200 29.1C186.8 31.99 188.13 37.34 175 41.8C163.13 45.83 162.26 43.13 150 46.08C145.22 47.23 145.27 47.67 140.91 50C132.77 54.36 132.15 59.46 125 59.46C120.22 59.46 117.05 54.22 117.05 50C117.05 46.67 121.89 48.03 125 44.35C132.46 35.53 130.98 34.18 138.19 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 13.46C241.92 13.46 234.09 3.82 234.09 0C234.09 -2.91 242.04 0 250 0C258.61 0 267.21 -2.97 267.21 0C267.21 3.76 258.48 13.46 250 13.46' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M271.95 25C271.95 22.51 273.54 22.43 275 19.79C280.46 9.93 278.13 6.07 285.8 0C290.63 -3.82 292.9 0 300 0C312.5 0 312.5 0 325 0C333.03 0 333.88 -2.25 341.07 0C346.38 1.66 346.61 7.81 350 7.81C352.35 7.81 349.2 1.05 352.55 0C361.7 -2.86 363.77 0 375 0C387.5 0 387.5 0 400 0C408.03 0 408.97 -2.37 416.07 0C421.47 1.8 420.8 8.33 425 8.33C428.73 8.33 427.25 1.56 431.94 0C439.75 -2.6 440.97 0 450 0C462.5 0 462.5 0 475 0C484.08 0 493.15 -3.33 493.15 0C493.15 4.37 484.88 8.94 475 15.41C465.8 21.44 457.49 17.13 455 25C452.02 34.43 465.45 38.61 464.06 50C462.95 59.15 455.97 66.07 450 66.07C444.99 66.07 447.18 57.29 442.11 50C434.68 39.31 435.77 35.64 425 30.1C414.71 24.81 409.72 23.47 400 28.33C389.83 33.42 389.83 38.1 385.23 50C380.8 61.44 384.9 62.85 381.94 75C379.78 83.87 378.88 92.05 375 92.05C370.94 92.05 372.4 81.76 366.07 75C359.9 68.42 358.3 65.36 350 65.36C339.72 65.36 339.35 69.97 328.91 75C326.85 75.99 327.1 76.49 325 77.4C312.65 82.74 311.33 88.22 300 87.5C292.58 87.02 287.98 82.43 287.5 75C286.77 63.68 300.49 60.75 297.58 50C294.24 37.65 286.08 39.59 275 28.79C273.26 27.09 271.95 27.01 271.95 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M325 14.06C321.37 14.06 321.79 19.43 318.97 25C312.7 37.4 305.2 39.13 306.82 50C308.21 59.32 318.37 65.38 325 65.38C329.42 65.38 327.06 57.72 328.92 50C331.92 37.53 335.97 36.44 334.72 25C334.01 18.47 329.25 14.06 325 14.06' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M506.45 25C512.13 13.09 508.86 9.28 515.74 0C518.13 -3.22 520.37 0 525 0C527.71 0 529.53 -2.2 530.43 0C534.66 10.3 530.33 13.6 535.27 25C540.11 36.16 540.66 43.39 550 45.12C560.52 47.07 563.94 31.03 575 32.35C584.33 33.47 582.65 41.41 590.79 50C595.15 54.61 594.62 58.75 600 58.75C609.32 58.75 619.12 57.24 620.19 50C621.62 40.37 603.71 35.82 605 25C606.11 15.71 616.47 9.78 625 9.78C631.02 9.78 633.21 16.74 634.09 25C635.36 36.85 632.78 37.94 629.31 50C628.24 53.73 626.56 53 625 56.58C621.11 65.5 618.4 66.44 618.4 75C618.4 79.3 620.97 79.56 625 82.29C636.77 90.27 639.22 98.29 650 96.43C660.29 94.65 658.34 85.52 667.14 75C670.84 70.57 670.91 66.54 675 66.54C679.42 66.54 681.68 69.54 684.17 75C689.32 86.27 693.16 92.16 690.28 100C688.57 104.66 682.64 100 675 100C662.5 100 662.5 100 650 100C637.5 100 637.5 100 625 100C612.5 100 612.5 100 600 100C597.16 100 595.5 102.23 594.32 100C588.91 89.73 592.66 86.28 586.82 75C583 67.62 581.23 62.68 575 62.68C568.03 62.68 562.83 66.96 560.42 75C557.24 85.62 567.19 91.92 563.82 100C561.98 104.42 556.91 100 550 100C537.5 100 537.5 100 525 100C512.5 100 512.5 100 500 100C495.09 100 490.18 101.38 490.18 100C490.18 98.39 494.72 96.23 500 94.02C512.13 88.94 514.76 92.1 525 85.42C529.35 82.59 529.17 79.67 529.17 75C529.17 72.77 527.32 72.96 525 71.62C512.73 64.54 512.39 65.09 500 58.17C493.03 54.28 486.29 55.31 486.29 50C486.29 42.73 493.15 41.5 500 33C503.23 29 504.26 29.59 506.45 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M675 4.66C671.01 3.11 667.76 1.27 667.76 0C667.76 -1.06 671.38 0 675 0C687.5 0 687.5 0 700 0C705.61 0 711.22 -2.5 711.22 0C711.22 3.75 707.07 11.59 700 12.5C688.96 13.92 687.13 9.36 675 4.66' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M775 5.77C772.53 2.67 769.55 1.71 769.55 0C769.55 -1.17 772.28 0 775 0C787.5 0 787.5 0 800 0C812.5 0 812.5 0 825 0C825.46 0 825.93 -0.35 825.93 0C825.93 1.22 825.37 1.54 825 3.13C822.47 14.04 824.56 14.88 820.14 25C814.33 38.31 809.82 36.55 804.55 50C800.03 61.55 795.93 65.18 800.56 75C806.15 86.85 813.23 93.33 825 93.33C835.45 93.33 835.32 84.47 845 75C847.82 72.25 847.58 72.01 850 68.89C857.28 59.51 856.94 59.23 864.41 50C869.44 43.78 868.08 39.71 875 37.98C885.88 35.26 887.63 38.81 900 41.1C912.63 43.43 912.95 43.36 925 47.22C926.84 47.81 926.59 48.44 927.78 50C937.2 62.33 940.1 61.22 946.23 75C951.21 86.22 955.34 93.71 950 100C944.72 106.21 937.5 100 925 100C912.76 100 905.36 106.13 900.52 100C895.49 93.63 905.45 86.98 905.26 75C905.19 70.54 902.92 67.11 900 67.11C896.72 67.11 897.11 71.89 892.86 75C884.61 81.04 883.24 79.28 875 85.42C866.47 91.78 868.04 94.92 859.33 100C855.54 102.21 854.66 100 850 100C837.5 100 837.5 100 825 100C812.5 100 812.5 100 800 100C794.36 100 788.94 103.7 788.71 100C788.16 91.2 798.56 87.46 798.44 75C798.32 62.46 790.56 62.97 788.24 50C786.09 37.97 792.86 36.27 789.49 25C786.24 14.16 782.5 15.17 775 5.77' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M875 14.29C867.8 14.29 860.48 4.17 860.48 0C860.48 -2.97 867.74 0 875 0C882.03 0 889.06 -2.95 889.06 0C889.06 4.2 882.09 14.29 875 14.29' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M935.53 25C935.53 20.6 943.55 19.15 950 19.15C953.07 19.15 954.58 21.66 954.58 25C954.58 31.82 954.06 39.47 950 39.47C944.53 39.47 935.53 30.76 935.53 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M975 12.5C967.74 6.32 960.59 3.56 960.59 0C960.59 -2.69 967.8 0 975 0C984.42 0 985.74 -2.65 993.85 0C998.24 1.43 996.63 4.33 1000 8.16C1007.64 16.83 1007.6 16.94 1015.87 25C1020.1 29.13 1020.13 32.54 1025 32.54C1031.12 32.54 1035.65 31.07 1037.84 25C1041.52 14.8 1032.77 8.17 1036.75 0C1038.85 -4.33 1043.38 0 1050 0C1062.5 0 1062.5 0 1075 0C1087.5 0 1087.5 0 1100 0C1112.5 0 1112.5 0 1125 0C1137.5 0 1137.5 0 1150 0C1154.95 0 1155.45 -1.72 1159.9 0C1167.95 3.12 1166.71 8.64 1175 9.67C1186.76 11.14 1193 0.71 1200 5C1205.5 8.37 1200 15 1200 25C1200 37.5 1200 37.5 1200 50C1200 62.5 1200 62.5 1200 75C1200 80.7 1203.04 86.41 1200 86.41C1194.57 86.41 1189.62 82.36 1183.06 75C1177.12 68.32 1179.41 58.33 1175 58.33C1170.38 58.33 1171.47 68.06 1165 75C1158.97 81.46 1156.6 79.08 1150 85.14C1142.99 91.58 1145.29 95.54 1137.78 100C1132.79 102.97 1131.39 100 1125 100C1118.89 100 1117.24 103.2 1112.77 100C1104.74 94.24 1108.21 88.7 1100 82.09C1092.69 76.2 1087.5 81.68 1081.73 75C1075 67.2 1082.42 56.56 1075 53.13C1066.56 49.23 1060.6 53.94 1050 60.33C1042.47 64.87 1045.18 68.47 1038.75 75C1032.68 81.16 1032.91 84.26 1025 85.71C1013.53 87.8 1011.54 85.88 1000 82.08C995.29 80.53 995.97 78.81 992.5 75C983.47 65.09 985.02 63 975 54.65C970.02 50.5 962.5 52.07 962.5 50C962.5 47.99 970.45 50.63 975 46.49C984.17 38.13 989.94 34.74 989.94 25C989.94 17.75 982.41 18.82 975 12.5' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1075 12.8C1068.46 12.8 1061.84 17.84 1061.84 25C1061.84 35.85 1068.49 48.81 1075 48.81C1081.48 48.81 1087.82 35.88 1087.82 25C1087.82 17.88 1081.45 12.8 1075 12.8' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1125 7.74C1118.08 7.74 1112.98 14.91 1109.9 25C1106.53 36.04 1108.22 38.45 1112.1 50C1115.77 60.95 1116.78 69.66 1125 70C1135.73 70.44 1137.24 60.31 1150 51.56C1151.83 50.31 1154.17 50.73 1154.17 50C1154.17 49.29 1151.24 50.4 1150 48.68C1142.23 37.9 1143.3 36.7 1136.15 25C1130.8 16.23 1131.2 7.74 1125 7.74' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M12.14 50C17.2 43.55 17.46 40.96 25 39.41C36.39 37.08 38.44 38.66 50 42.24C55.53 43.95 59.18 45.16 59.18 50C59.18 58.41 54.52 59.34 50 68.75C48.51 71.84 47.17 72.1 47.17 75C47.17 76.76 48.06 77.41 50 78.06C61.98 82.1 63.33 85.33 75 84.38C82.08 83.8 80.85 79.03 87.5 75C93.35 71.45 94.12 69.23 100 69.23C103.88 69.23 107.03 71.5 107.03 75C107.03 80.3 103.87 81.16 100 86.84C95.35 93.66 96.55 96.55 90 100C84.05 103.13 82.5 100 75 100C62.5 100 62.5 100 50 100C43.53 100 42.52 102.51 37.05 100C30.02 96.77 31.39 88.51 25 88.51C17.56 88.51 17.8 96.13 9.38 100C5.3 101.87 1.28 103.41 0 100C-3.41 90.91 0 87.5 0 75C0 73.13 -0.81 72.91 0 71.25C5.26 60.41 4.7 59.47 12.14 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M690.81 50C690.81 44.85 693.95 42.2 700 39.58C711.05 34.79 712.46 37.09 725 35.17C737.46 33.27 739.67 28.09 750 31.94C759.56 35.5 760.3 39.67 764.77 50C769.62 61.2 772.3 64.41 768.64 75C764.92 85.78 759.56 92.74 750 92.74C739.86 92.74 739.3 84.19 729.25 75C726.8 72.76 727.9 71.38 725 69.89C713.27 63.84 711.38 66.54 700 59.92C694.28 56.59 690.81 55.02 690.81 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M234.94 75C234.94 64.09 242.81 51.5 250 51.5C256.94 51.5 263.2 63.96 263.2 75C263.2 83.14 256.84 89.87 250 89.87C242.71 89.87 234.94 83.27 234.94 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M111.9 100C111.9 97.81 119.09 91.91 125 91.91C129.08 91.91 131.88 97.55 131.88 100C131.88 101.59 128.44 100 125 100C118.45 100 111.9 101.86 111.9 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M193.18 100C193.18 97.45 197.54 91.67 200 91.67C201.96 91.67 202.03 96.63 202.03 100C202.03 100.8 201.01 100 200 100C196.59 100 193.18 101.62 193.18 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M382.29 100C382.29 98.02 390.71 94.22 400 92.41C412.06 90.06 413.88 89.02 425 91.67C429.79 92.81 431.82 97.45 431.82 100C431.82 101.62 428.41 100 425 100C412.5 100 412.5 100 400 100C391.14 100 382.29 101.82 382.29 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M950 100C950 96.81 963.59 87.87 975 87.87C981.9 87.87 986.62 96.41 986.62 100C986.62 102.48 980.81 100 975 100C962.5 100 950 102.87 950 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M75 1.1C74.29 1.1 73.5 0.3 73.5 0C73.5 -0.25 74.25 0 75 0C75.55 0 76.09 -0.23 76.09 0C76.09 0.32 75.59 1.1 75 1.1' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M145.05 25C145.05 22.08 147.44 22.31 150 19.77C160.04 9.81 159.54 8.46 170.24 0C172.04 -1.42 172.62 0 175 0C179.35 0 182.05 -3.19 183.7 0C188.5 9.31 190.67 14.95 187.9 25C186.32 30.73 181.93 29.95 175 31.56C162.98 34.36 160.67 36.16 150 33.82C145.7 32.88 145.05 29.1 145.05 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 5.45C246.73 5.45 243.56 1.55 243.56 0C243.56 -1.18 246.78 0 250 0C253.49 0 256.97 -1.2 256.97 0C256.97 1.52 253.43 5.45 250 5.45' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M373.33 25C369.06 12.61 364.7 9.13 365.31 0C365.54 -3.37 370.15 0 375 0C381.78 0 388.38 -4.09 388.57 0C388.95 8.41 382.2 12.43 376.14 25C375.42 26.49 375.68 28.12 375 28.12C374.28 28.12 373.91 26.67 373.33 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M475 6.85C467.69 6.85 459.38 1.79 459.38 0C459.38 -1.64 467.19 0 475 0C479.03 0 483.06 -1.48 483.06 0C483.06 1.94 479.53 6.85 475 6.85' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M622.86 25C622.86 24 624.09 23.37 625 23.37C625.64 23.37 625.97 24.12 625.97 25C625.97 26.57 625.72 28.26 625 28.26C624.17 28.26 622.86 26.45 622.86 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 3.57C695.25 3.57 689.58 0.92 689.58 0C689.58 -0.87 694.79 0 700 0C701.61 0 703.21 -0.72 703.21 0C703.21 1.07 702.07 3.57 700 3.57' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M798.55 25C793.06 12.4 786.55 8.5 787.04 0C787.27 -4 793.52 0 800 0C804.61 0 808.84 -3.29 809.21 0C810.23 9.21 806.57 12.74 802.78 25C801.97 27.62 801.11 29.76 800 29.76C799 29.76 799.54 27.28 798.55 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M875 4.37C872.8 4.37 870.56 1.28 870.56 0C870.56 -0.91 872.78 0 875 0C877.15 0 879.3 -0.9 879.3 0C879.3 1.28 877.17 4.37 875 4.37' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M975 6.12C971.27 6.12 967.94 1.74 967.94 0C967.94 -1.32 971.47 0 975 0C979.62 0 984.23 -1.39 984.23 0C984.23 1.67 979.42 6.12 975 6.12' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M997.56 25C998.39 22.78 998.56 20.92 1000 20.92C1001.7 20.92 1001.73 23.17 1003.85 25C1014.23 33.94 1013.5 35.3 1025 42.46C1033.57 47.8 1043.32 43.34 1044 50C1044.98 59.61 1036.64 62.93 1028.33 75C1027.14 76.73 1026.95 77.6 1025 77.6C1019.73 77.6 1018.8 77.65 1013.89 75C1006.3 70.91 1006.15 70.35 1000 64.13C993.79 57.85 989.66 57.89 989.17 50C988.44 38.32 992.97 37.32 997.56 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1050 18.27C1044.6 18.27 1044.28 7.03 1044.28 0C1044.28 -2.1 1047.14 0 1050 0C1060.32 0 1070.65 -3.91 1070.65 0C1070.65 5.22 1057.78 18.27 1050 18.27' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1100 13.46C1092.95 13.46 1084.09 3.82 1084.09 0C1084.09 -2.91 1092.05 0 1100 0C1104.61 0 1109.21 -2.43 1109.21 0C1109.21 4.3 1105.51 13.46 1100 13.46' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1145.77 25C1145.77 17.2 1144.36 10.17 1150 8.82C1158.98 6.67 1162.64 13.06 1175 18C1182.86 21.15 1190.44 20.21 1190.44 25C1190.44 31 1184.08 37.95 1175 39.58C1163.86 41.57 1161.06 37.76 1150 32.24C1146.44 30.47 1145.77 28.91 1145.77 25' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M21.07 50C22.14 47.74 22.64 46.76 25 46.76C32.24 46.76 38.31 44.63 40.28 50C43.5 58.75 40.55 64.4 35.38 75C32.91 80.06 30.36 81.32 25 81.32C18.46 81.32 12.29 80.59 11.59 75C10.33 64.93 15.44 61.86 21.07 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M341.18 50C341.18 43.82 344.36 35.94 350 35.94C357.77 35.94 368 44.42 368 50C368 54.67 358.54 56.43 350 56.43C345.13 56.43 341.18 54.06 341.18 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M513.33 50C513.33 42.23 520.05 30.56 525 30.56C529.53 30.56 532.29 41.48 532.29 50C532.29 53.57 528.87 54.73 525 54.73C519.39 54.73 513.33 54.32 513.33 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M565.18 50C565.18 47.62 570.55 44.61 575 44.61C577.87 44.61 579.82 47.5 579.82 50C579.82 52.13 577.7 53.87 575 53.87C570.38 53.87 565.18 52.25 565.18 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 50C700 47.53 712.7 45.76 725 45.76C730.88 45.76 736.36 47.58 736.36 50C736.36 52.54 731.02 55.68 725 55.68C712.84 55.68 700 52.49 700 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M875 50C875 49.75 887.53 49.66 900 49.66C900.53 49.66 901 49.77 901 50C901 50.27 900.59 50.66 900 50.66C887.59 50.66 875 50.25 875 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1095.69 50C1095.69 44.32 1098.38 38.64 1100 38.64C1101.54 38.64 1102.02 44.32 1102.02 50C1102.02 55.68 1101.54 61.36 1100 61.36C1098.38 61.36 1095.69 55.68 1095.69 50' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M242.95 75C242.95 69.89 246.63 64 250 64C253.25 64 256.18 69.83 256.18 75C256.18 78.81 253.2 81.96 250 81.96C246.59 81.96 242.95 78.87 242.95 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M294.94 75C294.94 70 296.43 64.1 300 64.1C304.7 64.1 311.49 70.55 311.49 75C311.49 78.53 305.27 80.06 300 80.06C297 80.06 294.94 77.98 294.94 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M595.27 75C595.27 71.79 597.39 69.17 600 69.17C603.06 69.17 606.6 71.63 606.6 75C606.6 79.69 602.94 85.29 600 85.29C597.28 85.29 595.27 79.85 595.27 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M741.04 75C741.04 68.1 745.69 59.68 750 59.68C754.2 59.68 758.05 68 758.05 75C758.05 79.49 754.13 82.66 750 82.66C745.62 82.66 741.04 79.59 741.04 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M868.42 75C868.42 64.42 872.58 50 875 50C877.36 50 877.98 63.24 877.98 75C877.98 76.61 876.61 76.74 875 76.74C871.83 76.74 868.42 77.79 868.42 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M916.23 75C918.31 68.39 920.51 63.64 925 63.64C929.61 63.64 932.26 68.27 934.43 75C938.11 86.45 939.92 91.47 936.7 100C935.2 103.97 930.85 100 925 100C919.27 100 914.91 103.91 913.54 100C910.53 91.41 912.58 86.57 916.23 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1144.32 75C1144.32 73.49 1147.56 71.09 1150 71.09C1151.65 71.09 1152.5 73.3 1152.5 75C1152.5 76.1 1151.38 76.69 1150 76.69C1147.29 76.69 1144.32 76.29 1144.32 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1193.15 75C1193.15 69.58 1198.18 62.5 1200 62.5C1201.6 62.5 1200 68.75 1200 75C1200 77.31 1201.23 79.62 1200 79.62C1197.8 79.62 1193.15 78.14 1193.15 75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M44.58 100C44.58 96.96 46.07 90.82 50 90.82C56.82 90.82 66.07 97.54 66.07 100C66.07 102.13 58.03 100 50 100C47.29 100 44.58 101.55 44.58 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M617.24 100C617.24 98.74 621.07 95.31 625 95.31C629.27 95.31 633.65 98.75 633.65 100C633.65 101.1 629.33 100 625 100C621.12 100 617.24 101.08 617.24 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M661.81 100C661.81 92.9 669.77 78.41 675 78.41C679.67 78.41 681.6 91.65 681.6 100C681.6 102.44 678.3 100 675 100C668.4 100 661.81 103.7 661.81 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M798.79 100C798.79 99.01 798.85 97.22 800 97.22C802.58 97.22 806.25 99.27 806.25 100C806.25 100.66 803.13 100 800 100C799.39 100 798.79 100.4 798.79 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M968.94 100C968.94 99.23 972.23 97.06 975 97.06C976.67 97.06 977.82 99.13 977.82 100C977.82 100.6 976.41 100 975 100C971.97 100 968.94 100.7 968.94 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1119.41 100C1119.41 94.97 1122.15 86.18 1125 86.18C1127.86 86.18 1130.83 95.02 1130.83 100C1130.83 101.93 1127.91 100 1125 100C1122.2 100 1119.41 101.88 1119.41 100' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1200' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  opacity: 0.85;
}

.fnt {
  font-family: "Lucida Handwriting", sans-serif;
  /* font-family: "MV Boli", sans-serif; */
  /* font-family: "Segoe Script", sans-serif; */
}

.login-button-close{
  position: absolute !important;
  z-index: 300;
  right: 0;
  top: 0;
}

.ReactModal__Overlay--after-open{
  z-index: 10000000 !important;
}

.btn-position-top {
  bottom: 40px;
  position: fixed !important;
  right: 25px;
  z-index: 20;
  border: 1px solid #cec6c6 !important;
}
